<%
  if(typeof error_message !=='undefined')
  {
    %>
    <p style="color: aqua;"><%= error_message %></p>
    <%
  }
%>

<form action="" method="POST">
    <input type="hidden" name="user_id" value="<%= user.id%>">
    <input type="hidden" name="user_id" value="<%= user.email%>">
    <input type="password" name="password" required placeholder="new password">
    <br><br>
    <input type="password" name="confirm-password" required placeholder="new confirm-password">
    <br><br>
    <input type="submit" value="reset password">
</form>